@model ProcessManagement.Models.Process
@{
    ViewBag.Title = "AssignRole";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var listRole = ViewData["ListRole"] as List<ProcessManagement.Models.Role>;
    var roles = ViewData["Roles"] as JArray;
     var listUserInGroup = ViewData["ListUser"] as List<ProcessManagement.Models.Participate>;

}
@section CustomCss{
    <link rel="stylesheet" href="~/Content/vendor/bootstrap-multiselect/bootstrap-multiselect.css">
    <style>
        .dropdown-menu a {
            display: block;
        }

        .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
            background-color: unset !important;
        }

        .multiselect-container > li > a > label {
            padding: 6px 6px 6px 30px;
        }

        .multiselect-container .input-group-addon {
            display: none;
        }

        .multiselect-container .input-group {
            margin: 0;
        }

        .multiselect-container .input-group .input-group-btn {
            position: absolute;
            top: 0px;
            right: 8px;
        }

        .multiselect-container .input-group .input-group-btn .multiselect-clear-filter, .multiselect-container .input-group .input-group-btn .multiselect-clear-filter:focus {
            box-shadow: none;
        }
    </style>
}

<div class="block-header">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <a href="javascript:void(0);" class="btn btn-xs btn-link primary-theme btn-toggle-fullwidth primary-theme">
                <i class="fa fa-arrow-left"></i>
            </a>
            <ul class="breadcrumb">
                <li><a href="@Url.RouteUrl("GroupLocalizedDefault", new { controller = "group", action = "index"})" class="theme-color"><i class="icon-home"></i></a></li>
                <li><a href="@Url.RouteUrl("GroupControlLocalizedDefault", new { controller = "group", action = "show", groupid = Model.Group.Id })">Group: @Model.Group.Name</a></li>
                <li><a href="@Url.RouteUrl("GroupControlLocalizedDefault", new { controller = "processrun", action = "detail", groupid = Model.Group.Id, processid = Model.Id })">Process: @Model.Name</a></li>
                <li><a href="javascript:void(0);">Assign Role</a></li>

            </ul>
        </div>

    </div>
</div>
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card" style="padding-bottom:0">
            <div class="header">
                <h2>Role list</h2>
            </div>
            <div class="body" style="padding-top:0">
                <div class="table-responsive" style="overflow-x:unset">
                    <table class="table table-hover dataTable table-custom m-b-0" id="table-assign-role" style="width:100%">
                        <thead>
                            <tr>
                                <th>Role</th>
                                <th>Asign To</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (JObject role in roles)
                            {
                                <tr>
                                    <td>@role["name"]</td>
                                    <td>
                                        <select multiple="multiple" class="ms-member multiselect" id="role-@role["id"]" data-id="@role["id"]">
                                            @foreach (var user in role["users"])
                                            {
                                                var selected = (bool)user["isAssigned"] == true ? "selected" : "";
                                                <option value="@user["id"]" @selected>@user["name"]</option>
                                            }
                                        </select>
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section CustomScripts{
    <script src="~/Content/vendor/bootstrap-multiselect/bootstrap-multiselect.js"></script>
    <script>
        $("#table-assign-role").DataTable({
            "drawCallback": function (setting) {
                $(".ms-member").multiselect({
                    nonSelectedText: 'Assign to',
                    buttonText: function (options, select) {
                        if (options.length === 0) {
                            return 'Assign To ';
                        }
                        //else if (options.length > 3) {
                        //    return 'More than 3 options selected!';
                        //}
                        else {
                            var labels = [];
                            options.each(function () {
                                if ($(this).attr('label') !== undefined) {
                                    labels.push($(this).attr('label'));
                                }
                                else {
                                    labels.push($(this).html());
                                }
                            });
                            return labels.join(', ') + '';
                        }
                    },
                    templates: { // Use the Awesome Bootstrap Checkbox structure
                        li: '<li><a href="javascript:void(0);"><label class="fancy-checkbox"><span><i></i></span></label></a></li>'
                    },
                    onDropdownHide: function (event) {
                        var id = $(this)[0].$select.attr("id");
                        var roleId = $(`#${id}`).attr("data-id");
                        var brands = $(`#${id} option:selected`);
                        var assignList = [];
                        $(brands).each(function (index, brand) {
                            var option = $(this).val();
                            assignList.push(option)
                        });
                        var roleAssign = {
                            roleid: roleId,
                            members: assignList.toString(),
                            processid: @Model.Id
                        }
                        console.log(roleAssign);
                        assignRole(roleAssign);
                    }
                });
                $('.multiselect-container label.checkbox').each(function () {
                    var input = $(this).find('input'),
                        val = input.val();
                    $(`<span><b><b></span>${val}`).insertAfter(input)

                });
                $(".page-item:not(.previous):not(.next) a").addClass("waves-effect");
                $(".multiselect").addClass("waves-effect").css("box-shadow", "none");
            }
        });
        function assignRole(role) {
            $.ajax({
                url: "@Url.Action("assignrole", "process", new { area = "api"})",
                type: "POST",
                data: role,
                dataType: "json",
                success: function (response) {
                    //thanh cong thi no tra du lieu ve
                    console.log(response);
                    if (response.status == 200) {
                        showToastr("success", response.message, "toast-bottom-left");

                    } else {
                        showToastr("error", response.message, "toast-bottom-left")
                        console.error(response)
                    }
                }
            })
        }
    </script>
}