@model ProcessManagement.Models.Group
@{
    ViewBag.Title = "AddMember";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var userlist = ViewData["ListUser"] as List<ProcessManagement.Models.AspNetUser>;
    var participentlist = ViewData["ListParticipant"] as List<ProcessManagement.Models.Participate>;
}
@section CustomCss {
    <link href="~/Content/css_select2/select2.min.css" rel="stylesheet" />
}
<div class="cw-workspace-header">
    <div class="cw-workspace-intro">
        <div class="cw-workspace-avatar">
            <img src="~/Content/images/workspace/@Html.DisplayFor(model => model.Avatar)" alt="@Html.DisplayFor(model => model.Name)'s Avatar">
        </div>
        <div class="cw-workspace-name cw-normal-header">
            @Html.DisplayFor(model => model.Name)
        </div>
    </div>
    <ul class="cw-tabs">
        <li rel="process">
            <a href="@Url.Action("Show", "Group", new { id = Model.Id })"><i class="fas fa-sitemap"></i> Process</a>
        </li>
        <li rel="members" class="cw-active-tab">
            <a href="@Url.Action("AddMember", "Group", new { id = Model.Id })"><i class="fas fa-user-friends"></i> Members</a>
        </li>
        <li rel="settings">
            <a href="@Url.Action("Settings", "Group", new { id = Model.Id })"><i class="fas fa-cog"></i> Settings</a>
        </li>
    </ul>
</div>
<div class="cw-container">
    @using (Html.BeginForm("AddMember", "Group", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)


        <div class="input-group row">
            <span class="control-label col-md-3 col-sm-3 col-xs-12">User</span>
            <div class="col-md-9 col-sm-9 col-xs-12">
                @foreach (var item in userlist)
                {
                    <div class="input-group col-md-3" style="margin:7px;padding: 0;margin-left:20px">
                        <span class="form-control-radio">@item.Email</span>
                        <input runat="server" value="@item.Email" id="@item.Id" type="checkbox" class="form-control-radio" name="adduser">
                    </div>

                }
            </div>
            <div class="form-group">
                <input type="submit" value="Add Member" class="btn btn-default" />
            </div>
        </div>
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Member</th>
                    <th>Role</th>
                    <th>Tool</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in participentlist)
                {
                    <tr>
                        <td>@item.AspNetUser.Email</td>
                        <td>
                            @if (item.IsAdmin)
                            {
                                <p>Admin</p>
                            }
                            @if (item.IsManager)
                            {
                                <p>Manager</p>
                            }
                            @if(!item.IsManager && !item.IsAdmin)
                            {
                                <p>Member</p>
                            }
                        </td>
                        <td>

                            @Html.ActionLink("Edit Role", "EditRoleMemberWS", new { id = item.Id })
                            <span>|</span>
                            <a href="@Url.Action("DeleteMember", "Group", new { id = item.Id })" onclick="return confirmDelete()" class="delele-user">Delete Role</a>
                            <span>|</span>
                            <a href="@Url.Action("MemberOutGroup", "Group", new { id = item.Id })" onclick="return confirmOut()" class="delete-user">Out Group</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>