
@{
    ViewBag.Title = "Group List";
    Layout = "~/Views/Shared/_NullLayout.cshtml";
    var grouplist = ViewData["ListGroup"] as List<ProcessManagement.Models.Group>;

}
<div class="clearfix"><a href="@Url.Action("Create","Group")" class="btn btn-success pull-right">Create Group</a></div>
<div class="group-list row display-flex">
    @foreach (var item in grouplist)
    {
        var des = item.Description == null?"":item.Description;
        if (des.Length > 100)
        {
            des = des.Substring(1, 100) + "...";
        }
        <div class="col-sm-3">
            <div class="cw-card">
                <div class="cw-group-image">
                    <a href="@Url.Action("ShowGroup","Group",new { id = item.Id})">
                        <img src="~/Content/images/workspace/@Html.DisplayFor(modle => item.Avatar)" alt="@item.Name" class="image-medium" />
                    </a>
                </div>
                <div class="cw-group-infor">
                    <div class="cw-group-name">@Html.ActionLink(item.Name, "ShowGroup", new { id = item.Id })</div>
                    <div class="cw-group-author"><span class="cw-label">Author:</span>@Html.DisplayFor(modle => item.AspNetUser.UserName)</div>
                    <div class="cw-group-date"><span class="cw-label">Update at:</span>@Html.DisplayFor(modle => item.Updated_At)</div>
                    <div class="cw-group-des" style="word-break:break-all">
                        <span class="cw-label">Description:</span>
                        @des
                    </div>
                </div>
            </div>
        </div>
    }
</div>