@{
    ViewBag.Title = "Group List";
    Layout = "~/Views/Shared/_NullLayout.cshtml";
    var grouplist = ViewData["ListGroup"] as List<ProcessManagement.Models.Group>;

}
@section CustomCss{
    <style>
        .avatar-default{
            padding-top:10%;
            font-size:100px;
            text-align:center;
            font-weight:bold;
            color:black;
        }
    </style>
}
<div class="clearfix"><a href="@Url.RouteUrl("GroupLocalizedDefault",new { action = "Create" })" class="btn btn-success pull-right">Create Group</a></div>
<div class="group-list row display-flex">
    @foreach (var group in grouplist)
    {
        var des = group.Description == null ? "" : group.Description;
        if (des.Length > 100)
        {
            des = des.Substring(1, 100) + "...";
        }
        <div class="col-sm-3">
            <div class="cw-card">
                <div class="cw-group-image">
                    <a href="@Url.RouteUrl("GroupControlLocalizedDefault",new { action = "show", groupslug = group.groupSlug, idgroup = group.Id})">
                        @if (group.Avatar != null)
                        {
                            <img src="~/Content/images/workspace/@Html.DisplayFor(modle => group.Avatar)" alt="@group.Name" class="image-medium" />
                        }
                        else
                        {

                            JObject defaultAvatar = JObject.Parse(group.AvatarDefault);

                            <div class="image-medium avatar-default" style="background-color:@defaultAvatar["background"]">
                                @defaultAvatar["name"]
                            </div>
                        }
                    </a>
                </div>
                <div class="cw-group-infor">
                    <div class="cw-group-name"><a href="@Url.RouteUrl("GroupControlLocalizedDefault",new { action = "show", groupslug = group.groupSlug, idgroup = group.Id})">@group.Name</a></div>
                    <div class="cw-group-author"><span class="cw-label">Author:</span>@Html.DisplayFor(modle => group.AspNetUser.UserName)</div>
                    <div class="cw-group-date"><span class="cw-label">Update at:</span>@Html.DisplayFor(modle => group.Updated_At)</div>
                    <div class="cw-group-des" style="word-break:break-all">
                        <span class="cw-label">Description:</span>
                        @des
                    </div>
                </div>
            </div>
        </div>
    }
</div>