@model ProcessManagement.Models.Group
@{
    ViewBag.Title = "Setting";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var userRole = ViewData["Roles"] as ProcessManagement.Models.Participate;
    var isAdmin = userRole.IsAdmin;
    var isOwner = userRole.IsOwner;
    var isManager = userRole.IsManager;
}
@section CustomCss{
    <style>
        input[type=file] {
            outline: 0;
            opacity: 0;
            pointer-events: none;
            user-select: none;
        }

        .label {
            width: 120px;
            border: 2px dashed grey;
            border-radius: 5px;
            display: block;
            padding: 1.2em;
            transition: border 300ms ease;
            cursor: pointer;
            text-align: center;
        }

        .label i {
            display: block;
            font-size: 42px;
            padding-bottom: 16px;
        }

        .label i,
        .label .title {
            color: grey;
            transition: 200ms color;
        }

        .label:hover {
            border: 2px solid black;
        }

        .label:hover i,
        .label:hover .title {
            color: black;
        }
    </style>
    <style>
        .settings {
            border-bottom: 1px solid #dfe2e5;
        }
        .settings-header {
            position: relative;
            padding: 20px 110px 10px 0;
        }
        .settings-header h4 {
            margin-top: 0;
        }
        .settings-header button {
            position: absolute;
            top: 20px;
            right: 6px;
            min-width: 80px;
        }
        .settings-content {
            padding: 10px 110px 15px 40px;
            border: 1px solid #dfe2e5;
        }
        .settings-content .sub-section:first-child{
            margin-top:20px;
        }
        .settings-content .sub-section {
            margin-bottom: 32px;
            padding: 20px;
            border: 1px solid #e5e5e5;
            background-color: #fafafa;
        }
        .danger-title {
            color: #db3b21;
        }
    </style>
    <style>
        .table .thead-dark th {
            color: #fff;
            background-color: #212529;
            border-color: #fff;
        }
        .table tbody tr td {
            background-color:white;
        }
    </style>
    <style>
        .modal-body .text-danger {
            font-weight: 600;
            color: #db3b21;
        }
        code {
            padding: 2px 4px;
            color: #c0341d;
            background-color: #fbe5e1;
            border-radius: 4px;
        }
        #btn-remove-project-comfirm{
            float:left;
        }
    </style>
    <style>
        .span-left::after{
            content:' | ';
        }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">
}
<div class="cw-workspace-header">
    <div class="cw-workspace-intro">
        <div class="cw-workspace-avatar">
            <img src="~/Content/images/workspace/@Html.DisplayFor(model => model.Avatar)" alt="@Html.DisplayFor(model => model.Name)'s Avatar">
        </div>
        <div class="cw-workspace-name cw-normal-header">
            @Html.DisplayFor(model => model.Name)
        </div>
    </div>
    <ul class="cw-tabs">
        <li rel="process">
            <a href="@Url.Action("Show", "Group", new { id = Model.Id })"><i class="fas fa-sitemap"></i> Process</a>
        </li>
        @*<li rel="members">
            <a href="@Url.Action("AddMember", "Group", new { id = Model.Id })"><i class="fas fa-user-friends"></i> Members</a>
        </li>*@
        <li class="cw-active-tab" rel="settings">
            <a href="@Url.Action("Settings", "Group", new { id = Model.Id })"><i class="fas fa-cog"></i> Settings</a>
        </li>
    </ul>
</div>
<div class="cw-container">
    @*<h4> Setting</h4>*@
    <div class="project-edit-container">
        @if (isAdmin||isOwner)
        {
            @Html.Partial("~/Views/Shared/Layouts/Settings/Auth/General.cshtml")

        }
        else
        {
            @Html.Partial("~/Views/Shared/Layouts/Settings/General.cshtml")


        }
        @Html.Partial("~/Views/Shared/Layouts/Settings/Members.cshtml")
        @Html.Partial("~/Views/Shared/Layouts/Settings/Advanced.cshtml")
    </div>
    <!-- Modal -->
    <div class="modal fade" id="delete-project-modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Confirmation required</h4>
                </div>
                <div class="modal-body">
                    <p class="text-danger">You are going to remove @Model.Name / @Model.AspNetUser.UserName. Removed project CANNOT be restored! Are you ABSOLUTELY sure?</p>
                    <p>
                        <span class="js-warning-text">
                            This action can lead to data loss.
                            To prevent accidental actions we ask you to confirm your intention.
                        </span>
                        <br>
                        Please type
                        <code class="js-confirm-danger-match">@Model.Name</code>
                        to proceed or close this modal to cancel.
                    </p>
                    <div class="form-group">
                        <input type="text" name="confirm_name_input" id="confirm_name_input" value="" class="form-control">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" id="btn-remove-project-comfirm" disabled>Comfirm</button>
                </div>
            </div>
        </div>
    </div>
    @*<h4>Danger zone</h4>
        <div class="cw-danger-box">
            <div class="row">
                <div class="col-md-10">
                    <strong style="display:block">Delete this repository</strong>
                    <p>Once you delete a repository, there is no going back. Please be certain</p>
                </div>

                <div class="col-md-2">
                    <a href="@Url.Action("DeleteGroup","Group",new { id = Model.ID})" class="btn btn-danger"><i class="fas fa-trash-alt"></i> Remove</a>
                    <button class="btn btn-danger btn-removegroup"><i class="fas fa-trash-alt"></i> Remove Group</button>
                </div>
            </div>
        </div>*@
</div>
@section CustomScripts {
    <script>
        $(document).ready(function () {
            $(document).on('change', '.btn-file :file', function () {
                var input = $(this),
                    label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
                input.trigger('fileselect', [label]);
            });

            $('.btn-file :file').on('fileselect', function (event, label) {

                var input = $(this).parents('.input-group').find(':text'),
                    log = label;

                if (input.length) {
                    input.val(log);
                } else {
                    if (log) alert(log);
                }

            });
            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('#img-upload').attr('src', e.target.result);
                    }

                    reader.readAsDataURL(input.files[0]);
                }
            }

            $("#imgInp").change(function () {
                readURL(this);
            });
        });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>
    <script>
        $(document).ready(function () {
            var groupname = '@Html.DisplayFor(model => model.Name)';
            var visibilityDes = [
                'The group is accessible only by members of the project. Access must be granted explicitly to each user.',
                'The group can be accessed by any user who is logged in.',
                'The group can be accessed by anyone, regardless of authentication.'
            ]
            $('#btn-removegroup').on('click', function () {
                $('#delete-project-modal').modal('show');
            })
            $('#confirm_name_input').on('change paste keyup', function () {
                var input = $(this).val();
                var confirmButton = $('#btn-remove-project-comfirm');
                if (groupname === input.trim()) {
                    confirmButton.prop("disabled", false);
                    confirmButton.addClass('btn-danger');
                    confirmButton.removeClass('btn-default');
                }
                else {
                    confirmButton.prop("disabled", true);
                    confirmButton.addClass('btn-default');
                    confirmButton.removeClass('btn-danger')
                }

            })
            $('#btn-remove-project-comfirm').on('click', function () {
                window.location.replace("@Url.Action("Remove", "Group", new { id = Model.Id })");
            })
            $('#visibility').on('change', function () {
                var visibilityLevel = $(this).val();
                $('#visibility-description').text(visibilityDes[visibilityLevel-1]);
            })

                
        })
    </script>
    <script>
        function confirmBeforeLeave() {
            let check = confirm("Are you sure you want to leave the @Model.Name group?");
            return check;
        }
        function confirmBeforeDeleteMember(name) {
            let check = confirm(`Are you sure you want to remove ${name}`);
            return check;
        }
    </script>
}
