@model ProcessManagement.Models.Group
@using ProcessManagement.Models;
@{
    ViewBag.Title = "ShowGroup";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var db = new PMSEntities();
    var listprocess = ViewData["ListProcess"] as List<ProcessManagement.Models.Process>;
    var listuser = ViewData["ListUser"] as List<ProcessManagement.Models.AspNetUser>;

}

<div class="cw-workspace-header">
    <div class="cw-workspace-intro">
        <div class="cw-workspace-avatar">
            <img src="~/Content/images/workspace/@Html.DisplayFor(model => model.Avatar)" alt="@Html.DisplayFor(model => model.Name)'s Avatar">
        </div>
        <div class="cw-workspace-name cw-normal-header">
            @Html.DisplayFor(model => model.Name)
        </div>
    </div>
    <ul class="cw-tabs">
        <li class="cw-active-tab" rel="process">
            <a href="@Url.Action("Show", "Group", new { id = Model.Id })"><i class="fas fa-sitemap"></i> Process</a>
        </li>
        <li rel="members">
            <a href="@Url.Action("AddMember", "Group", new { id = Model.Id })"><i class="fas fa-user-friends"></i> Members</a>
        </li>
        <li rel="settings">
            <a href="@Url.Action("Settings", "Group", new { id = Model.Id })"><i class="fas fa-cog"></i> Settings</a>
        </li>
    </ul>
</div>
<div class="cw-workspace-header" style="position:relative">
    <div class="cw-find-members">
        <div class="form-group">
            <span class="cw-input-icon">
                <input type="text" name="name" class="form-control cw-input-has-icon" id="cw-members-name"
                       placeholder="Find a process">
                <i class="fas fa-search cw-label-icon"></i>
            </span>
            <button class="btn btn-primary" style="margin-bottom:0%">Find</button>
            <div style="float: right">
                <span>Customize pinned proccess</span>
                <button class="btn btn-success"><i class="fas fa-sitemap"></i> New</button>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <hr class="cw-normal-hr">
    <div class="cw-workspace-internal">
        <div class="row" style="margin:0">
            <div class="col-md-8 cw-workspace-list-process" style="padding-top: 2%; padding-bottom:2%">
                <div align="left">
                    @if (!listprocess.Any())
                    {
                    <div style="margin:0 auto;display:table">
                        <p class="cw-header-large cw-error-no-process">This organization has no process</p>
                        <a class="btn btn-success" href="@Url.Action("CreateProcess","Group",new { id=Model.Id})" style="margin:0 25%">Create a new process</a>
                    </div>

                    }
                    else
                    {
                        foreach (var item in listprocess)
                        {
                            <a href="@Url.Action("DrawProcess","Group",new { id = item.Id })" class="cw-header-large cw-error-no-process">@item.Name</a>
                            <h5>@item.Description</h5>
                            <hr class="cw-normal-hr">
                        }
                        @Html.ActionLink("Create a new process", "CreateProcess", new { id = Model.Id }, new { @class = "btn btn-success" })
                    }

                </div>
            </div>
            <div class="col-md-4" style="padding-right: 0">
                <div class="col-md-12 cw-workspace-members cw-box">
                    <div class="cw-box-header">
                        <div class="cw-box-title">People</div>
                        <div class="cw-member-total">1 <i class="fas fa-users"></i></div>
                        <div class="clearfix"></div>
                        <hr class="cw-normal-hr" style="margin-top: 10px">
                    </div>
                    <div class="cw-box-body">
                        <ul class="cw-members-list media-list">
                            @foreach (var item in listuser)
                            {
                                <li class="media">
                                    <a href="#" class="cw-member-infor">
                                        <div class="media-left">
                                            <img alt="user's avatar" class="media-object"
                                                 src="public/images/workspace/avatar2.png" style="width: 64px; height: 64px;">
                                        </div>
                                        <div class="media-body" style="padding-top:7%">
                                            @item.Email
                                        </div>
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                    <hr class="cw-normal-hr">
                    <div align="center">
                        <button class="btn btn-success"><i class="fas fa-plus"></i> Invite Member</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
