<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @ProcessManagement.Content.resources.CWcommon.clockworks_common_title</title>
    @Styles.Render("~/Content/css")
    <link href="~/Content/build/css/style.css" rel="stylesheet" />
    <style>
        .nav.navbar-nav.navbar-left{
            display:none;
        }
    </style>
    @if (IsSectionDefined("CustomCss"))
    {
        @RenderSection("CustomCss", required: false)
    }
</head>
<body class="nav-sm">
    <div class="container body">
        <div class="main_container">
            @Html.Partial("~/Views/Shared/Layouts/menu.cshtml")
            @Html.Partial("~/Views/Shared/Layouts/header.cshtml")
            <!--Content body-->
            <div class="right_col" id="body" role="main">
                @RenderBody()
            </div>
            <!--/ Content body-->
            @Html.Partial("~/Views/Shared/Layouts/footer.cshtml")
        </div>
    </div>

    @Scripts.Render("~/Content/js")
    @if (IsSectionDefined("CustomScripts"))
    {
        @RenderSection("CustomScripts", required: false)
        //hình như  
    }
</body>
</html>
