<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Process Management System">
    <meta name="author" content="CAP2019, design by: Clockworks Team">
    <title>:: Lucid System :: @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @if (IsSectionDefined("CustomCss"))
    {
        @RenderSection("CustomCss", required: false)
    }
</head>
<body>
    @Html.Partial("~/Views/Shared/Common/_Loader.cshtml")
    <div id="wrapper">
        <!-- header -->
        @Html.Partial("~/Views/Shared/Common/_Header.cshtml")
        <!-- end of header -->
        <!-- main content -->
        <div id="main-content">
            @RenderBody()
        </div>
        <!-- end of body content -->
    </div>
    @Scripts.Render("~/Content/js")
    @*<script type="text/javascript">
            alertify.set('notifier', 'position', 'bottom-left');
            @{
                string text = (string)TempData["FlashMessage.Text"];
                string type = (string)TempData["FlashMessage.Type"];
                if (!string.IsNullOrWhiteSpace(text))
                {
                    if (type == "Success")
                    {

                        @:alertify.success("@text");

                    }
                    else if (type == "Fail")
                    {
                         @:alertify.error("@text");
                    }
                }
            }
        </script>*@
    @if (IsSectionDefined("CustomScripts"))
    {
        @RenderSection("CustomScripts", required: false)
    }
</body>
</html>
