<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @ProcessManagement.Content.resources.CWcommon.clockworks_common_title</title>
    @Styles.Render("~/Content/css")
    <link href="~/Content/build/css/guest-style.css" rel="stylesheet" />
    <style>
        .nav.toggle {
            display: none;
        }

        .nav-sm .container.body .right_col {
            margin-left: 0;
            background: white;
        }

        .nav-sm .main_container .top_nav {
            margin-left: 0;
        }

        .nav-sm footer {
            margin-left: 0px;
        }
    </style>
    </style>
    @if(IsSectionDefined("CustomCss"))
    {
        @RenderSection("CustomCss",required:false)
    }
</head>
<body class="nav-sm">
    <div class="container body">
        <div class="main_container">
            @Html.Partial("~/Views/Shared/Layouts/header.cshtml")
            <!--Content body-->
            <div class="right_col" id="body" role="main">
                @RenderBody()
            </div>
            <!--/ Content body-->
            @Html.Partial("~/Views/Shared/Layouts/footer.cshtml")
        </div>
    </div>

    @Scripts.Render("~/Content/js")
    @if (IsSectionDefined("CustomScripts"))
    {
        @RenderSection("CustomScripts", required: false)
    }
    @{
        string text = (string)TempData["FlashMessage.Text"];
        string type = (string)TempData["FlashMessage.Type"];
        if (!string.IsNullOrWhiteSpace(text))
        {
            if (type == "Success")
            {
                <script>
                    alertify.set('notifier', 'position', 'bottom-left');
                    alertify.success("@text");
                </script>
            }

        }
    }
    <script>
    </script>

</body>
</html>
