@model ProcessManagement.Models.Group
@{ 
    var visibilitylist = ViewData["ListVisibility"] as List<ProcessManagement.Models.Visibility>;
    var showPermissionSetting = TempData["PermissionSetting"] != null ? "in" : "";
}
<section class="settings">
    <div class="settings-header">
        <h4>Permissions</h4>
        <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#visibility-settings" aria-expanded="false" aria-controls="visibility-settings">
            Expand
        </button>
        <p>
            Choose access levels.
        </p>
    </div>
    <div class="settings-content collapse @showPermissionSetting" id="visibility-settings">
        @using (Html.BeginForm("EditVisibility", "Group", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)
            <div class="form-group">
                @Html.LabelFor(model => model.Visibility, "Project visibility")
                <div>
                    <select name="Visibility" id="visibility" class="form-control" style="width:432px">
                        @foreach (var item in visibilitylist)
                        {
                            if (item.Id == Model.Visibility)
                            {
                                <option value="@item.Id" selected>@item.Name</option>
                            }
                            else
                            {
                                <option value="@item.Id">@item.Name</option>

                            }
                        }
                    </select>
                </div>
                <div id="visibility-description" style="margin-top:4px;">@visibilitylist[Model.Visibility - 1].Description</div>
            </div>
            <div class="form-group">
                <button class="btn btn-success" type="submit">Save Change</button>
            </div>

        }

    </div>
</section>