@{
    ViewBag.Title = "AssignRole";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var processrun = ViewData["ProcessRun"] as ProcessManagement.Models.Process;
}
@section CustomCss{
    <link rel="stylesheet" href="~/Content/vendor/bootstrap-multiselect/bootstrap-multiselect.css">
    <style>
        .dropdown-menu a {
            display: block;
        }

        .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
            background-color: unset !important;
        }

        .multiselect-container > li > a > label {
            padding: 6px 6px 6px 30px;
        }
        .multiselect-container .input-group-addon {
            display: none;
        }
        .multiselect-container .input-group{
            margin: 0;
        }
        .multiselect-container .input-group .input-group-btn {
            position: absolute;
            top: 0px;
            right: 8px;
        }
        .multiselect-container .input-group .input-group-btn .multiselect-clear-filter {
            box-shadow: none;
        }
    </style>
}

<div class="block-header">
    <div class="row">
        <div class="col-lg-6 col-md-8 col-sm-12">
            <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth primary-theme"><i class="fa fa-arrow-left"></i></a> Asssign Role</h2>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="~/Home/Index" class="primary-theme"><i class="icon-home"></i></a></li>
                <li class="breadcrumb-item"><a href="/" class="primary-theme">Groups</a></li>
                <li class="breadcrumb-item"><a href="@Url.RouteUrl("GroupControlLocalizedDefault", new { controller = "group", action = "Show", groupid = processrun.Group.Id })" class="primary-theme">@processrun.Group.Name</a></li>
                <li class="breadcrumb-item"><a href="@Url.RouteUrl("GroupControlLocalizedDefault", new { controller = "process", action = "Detail", idprocess = processrun.Id })">@processrun.Name</a></li>
                <li class="breadcrumb-item"><a href="" class="primary-theme">Asssign Role</a></li>
            </ul>
        </div>

    </div>
</div>
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card" style="padding-bottom:0">
            <div class="header">
                <h2>Role list</h2>
            </div>
            <div class="body" style="padding-top:0">
                <div class="table-responsive">
                    <table class="table table-hover dataTable table-custom m-b-0" id="table-assign-role" style="width:100%">
                        <thead>
                            <tr>
                                <th>Role</th>
                                <th>Asign To</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.ListRole)
                            {
                                <tr>
                                    <td>@item.Name</td>
                                    <td>
                                        <select multiple="multiple" class="ms-member multiselect" id="role-@item.Id" data-id="@item.Id">
                                            @foreach (var user in ViewBag.ListUser)
                                            {
                                                <option value="@user.AspNetUser.Id">@user.AspNetUser.UserName</option>
                                            }
                                        </select>
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section CustomScripts{
    <script src="~/Content/vendor/bootstrap-multiselect/bootstrap-multiselect.js"></script>
    <script>
        $("#table-assign-role").DataTable({
            "drawCallback": function (setting) {
                $(".ms-member").multiselect({
                    nonSelectedText: 'Assign to',
                    numberDisplayed: 10,
                    enableFiltering: true,
                    templates: { // Use the Awesome Bootstrap Checkbox structure
                        li: '<li><a href="javascript:void(0);"><label class="fancy-checkbox"><span><i></i></span></label></a></li>'
                    },
                    onDropdownHide: function (event) {
                        var id = $(this)[0].$select.attr("id");
                        var roleId = $(`#${id}`).attr("data-id");
                        var brands = $(`#${id} option:selected`);
                        var assignList = [];
                        $(brands).each(function (index, brand) {
                            var option = $(this).val();
                            assignList.push(option)
                        });
                        var roleAssign = {
                            idRole: roleId,
                            listAssign: assignList

                        }
                        console.log(roleAssign);
                        assignRole(roleAssign);
                    }
                });
                $('.multiselect-container label.checkbox').each(function () {
                    var input = $(this).find('input'),
                        val = input.val();
                    $(`<span><b><b></span>${val}`).insertAfter(input)

                });
                $(".page-item:not(.previous):not(.next) a").addClass("waves-effect");
                $(".multiselect").addClass("waves-effect").css("box-shadow", "none");
            }
        });
        function assignRole(role) {
            $.ajax({
                url: "@Url.Action("assignRole", "process", new { area = "api"})",
                type: "POST",
                data: role,
                dataType: "json",
                success: function (response) {
                    //thanh cong thi no tra du lieu ve
                    console.log(response);
                    if (response.status == 200) {
                        showToastr("success", response.message, "toast-bottom-left");
                       
                    } else {
                        showToastr("error", response.message, "toast-bottom-left")
                        console.error(response)
                    }
                }
            })
        }
    </script>
}