@using ProcessManagement.Models;
@model List<ProcessManagement.Models.Step>

@{
    PMSEntities db = new PMSEntities();
    ViewBag.Title = "ShowStep";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var group = ViewData["group"] as ProcessManagement.Models.Group;
    var process = ViewData["process"] as ProcessManagement.Models.Process;
    var count = 0;
    var count1 = 0;
    for (int i = 0; i < Model.Where(x => x.Figure == "Step").Count(); i++)
    {
        count++;
    }
    for (int j = 0; j < process.Roles.Count; j++)
    {
        count1++;
    }
    var listRole = ViewData["ListRole"] as List<ProcessManagement.Models.Role>;
}


@section CustomCss{
    <link rel="stylesheet" href="~/Content/vendor/sortable/st/prettify/prettify.css" />
    <style>
        .highlight {
            background-color: #f8f9fa;
            padding: 20px;
        }

            .highlight pre code {
                font-size: inherit;
                color: #212529;
            }

        .nt {
            color: #2f6f9f;
        }

        .na {
            color: #4f9fcf;
        }

        .s {
            color: #d44950;
        }

        pre.prettyprint {
            background-color: #eee;
            border: 0px;
            margin: 0;
            padding: 20px;
            text-align: left;
        }

        .atv,
        .str {
            color: #05AE0E;
        }

        .tag,
        .pln,
        .kwd {
            color: #3472F7;
        }

        .atn {
            color: #2C93FF;
        }

        .pln {
            color: #333;
        }

        .com {
            color: #999;
        }
    </style>
}
<div class="block-header">
    <div class="row">
        <div class="col-lg-6 col-md-8 col-sm-12">
            <h2>
                <a href="javascript:void(0);" class="btn btn-xs btn-link theme-color btn-toggle-fullwidth">
                    <i class="fa fa-arrow-left"></i>
                </a> @process.Name
            </h2>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="~/Home/Index" class="theme-color"><i class="icon-home"></i></a></li>
                <li class="breadcrumb-item"><a href="~/Group/Index">Groups</a></li>
                <li class="breadcrumb-item"><a href="@Url.RouteUrl("GroupControlLocalizedDefault", new { controller = "group", action = "Show", groupid = group.Id })">@group.Name</a></li>
                <li class="breadcrumb-item"><a href="">@process.Name</a></li>
            </ul>
        </div>
        <div class="col-lg-6 col-md-4 col-sm-12 text-right">
            <div class="bh_chart hidden-xs">
                <div class="float-left m-r-15">
                    <small>Visitors</small>
                    <h6 class="mb-0 mt-1"><i class="icon-user"></i> 1,784</h6>
                </div>
                <span class="bh_visitors float-right">2,5,1,8,3,6,7,5</span>
            </div>
            <div class="bh_chart hidden-sm">
                <div class="float-left m-r-15">
                    <small>Visits</small>
                    <h6 class="mb-0 mt-1"><i class="icon-globe"></i> 325</h6>
                </div>
                <span class="bh_visits float-right">10,8,9,3,5,8,5</span>
            </div>
            <div class="bh_chart hidden-sm">
                <div class="float-left m-r-15">
                    <small>Chats</small>
                    <h6 class="mb-0 mt-1"><i class="icon-bubbles"></i> 13</h6>
                </div>
                <span class="bh_chats float-right">1,8,5,6,2,4,3,2</span>
            </div>
        </div>
    </div>
</div>

<div class="row clearfix">
    <div class="col-lg-4 col-md-12">
        <div class="card">
            <div class="body">
                <h5>@process.Name</h5>
                <p>@process.Description</p>
                <div class="progress-container progress-info m-b-25">
                    <span class="progress-badge">Project Status</span>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 78%;">
                            <span class="progress-value">78%</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="body">
                <ul class=" list-unstyled basic-list">
                    <li>Create At:<span class="badge badge-primary">@process.Created_At</span></li>
                    <li>Update_at:<span class="badge-purple badge">@process.Updated_At</span></li>
                    <li>Total Step:<span class="badge-purple badge">@count steps</span></li>
                    <li>Total Role:<span class="badge-danger badge">@count1 roles</span></li>
                </ul>
            </div>
        </div>
        <div class="card">
            <div class="header">
                <span>
                    RoleList
                    <a href="@Url.RouteUrl("GroupControlLocalizedDefault", new { controller = "process", action = "createrole", groupslug = group.groupSlug, groupid = group.Id, processid = process.Id })">
                        <img style="float: right" src="~/Content/images/icons-plus.png" />
                    </a>
                </span>
            </div>
            <div class="body">
                <div class="w_user">
                    <img class="rounded-circle" src="~/Content/images/sm/avatar4.jpg" alt="">
                    <div class="wid-u-info">
                        <h5>Fidel Tonn</h5>
                        <span>info@thememakker.com</span>
                        <p class="text-muted m-b-0">Project Lead</p>
                    </div>
                    <hr>
                </div>
                <ul class="right_chat list-unstyled mb-0">
                    @foreach (var role in listRole)
                    {
                        <li class="online">
                            <a href="javascript:void(0);">
                                <div class="media">
                                    <img class="media-object " src="~/Content/images/xs/avatar4.jpg" alt="">
                                    <div class="media-body">
                                        <span class="name">@role.Name</span>
                                        <span class="message">
                                            @role.Description
                                            <a style="float: right" href="@Url.RouteUrl("GroupControlLocalizedDefault", new {controller = "process", action = "EditRole", roleid = role.Id})">
                                                <img src="~/Content/images/icons-edit.png" />
                                            </a>
                                            <a style="float: right" href="@Url.RouteUrl("GroupControlLocalizedDefault", new {controller = "process", action = "DeleteRole", roleid = role.Id})">
                                                <img src="~/Content/images/icons-remove.png" />
                                            </a>
                                        </span>
                                    </div>
                                </div>
                            </a>
                        </li>
                    }


                </ul>
            </div>
        </div>
        <div class="card">
            <div class="header">
                <h2>Create by </h2>
            </div>
            <div class="body text-center">
                <div class="profile-image m-b-15"> <img src="~/Content/images/user.png" class="rounded-circle" alt=""> </div>
                <div>
                    <h4 class="m-b-0"><strong>@process.AspNetUser.UserName</strong></h4>
                </div>
                <div class="m-t-15">
                    <button class="btn btn-primary">Profile</button>
                    <button class="btn btn-outline-secondary">Message</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-8 col-md-12">
        <div class="card">
            <div class="header">
                <h2>Project Activity</h2>
            </div>
            <div class="body">
                Để hình đại diện process ở đây

            </div>
        </div>
        <div class="card">
            <div class="header">
                <h2>List Step</h2>
            </div>
            <div class="body">
                <ul class="step-list">
                    @foreach (var step in Model.Where(x => x.Figure == "Step"))
                    {
                        <li>
                            <div class="step" style="border: 2px solid @step.Color; border-left:7px solid @step.Color; color:@step.Color">
                                <div class="step-name">
                                    <span data-toggle="tooltip" data-placement="top" title="@step.Description">@step.Name</span>
                                </div>
                                <div class="step-action dropdown">
                                    <a style="color: @step.Color" href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"></a>
                                    <ul class="dropdown-menu notifications animated fadeIn">
                                        <li><a href="@Url.RouteUrl("GroupControlLocalizedDefault", new { controller = "process", action = "editstep", groupslug = group.groupSlug, groupid = group.Id, stepid = step.Id })">Edit step</a></li>
                                        <li><a href="@Url.RouteUrl("GroupControlLocalizedDefault", new { controller = "process", action = "addtask", stepid = step.Id })">Add task</a></li>
                                        @*<li><a href="javascript:void(0);">Something else</a></li>*@
                                    </ul>
                                </div>
                            </div>
                            <div class="task">
                                <ul class="task-list" id="task-of-step-@step.Id">
                                    @foreach (var task in db.TaskProcesses.Where(x => x.IdStep == step.Id).OrderBy(x => x.Position))
                                    {
                                        <li class="task-item" style="background-color:@task.Color" data-id="@task.Id">
                                            <a href="@Url.RouteUrl("GroupControlLocalizedDefault", new { controller = "process", action = "showtask", idtask = task.Id })">@task.Name</a>
                                        
                                            <i class="fa fa-arrows-alt handle"></i>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
@section CustomScripts{
    <script src="~/Content/vendor/sortable/sortable.min.js"></script>
    <script src="~/Content/vendor/sortable/st/prettify/prettify.js"></script>
    <script src="~/Content/vendor/sortable/st/prettify/run_prettify.js"></script>
    <script>
        $(function () {
            $(".step-name").on("click", function () {
                var step = $(this).parent(".step");
                var task = step.next();
                task.toggle("slow");
            });
            var task = $(".task-list");
            task.each(function () {
                var element = $(this)[0];
                Sortable.create(element, {
                    handle: '.handle', // handle's class
                    animation: 150,
                    dataIdAttr: 'data-id',
                    onUpdate: function (evt) {
                        ////get item
                        //var fromItem = evt.item;
                        //var toItem = evt.item.previousElementSibling;
                        ////get id
                        //var fromId = fromItem.attributes["data-id"].value;
                        //var toId = toItem.attributes["data-id"].value;
                        //var position = {
                        //    from: fromId,
                        //    to: toId
                        //}
                        //position = JSON.stringify(position);
                        //changePosition(position);





                        //var formList = evt.from.children;
                        //var formID = [];
                        //for (var task of formList) {
                        //    formID.push(task.dataset.id);
                        //}
                        //var toList = evt.to.children;
                        //var toID = [];
                        //for (var task of toList) {
                        //    toID.push(task.dataset.id);
                        //}
                        //console.log(evt.from, evt.to);

                        var newTaskOrder = evt.from.children;
                        var newPositionList = [];
                        for (var i = 0; i < newTaskOrder.length; i++) {
                            var temp = {
                                idTask : newTaskOrder[i].dataset.id,
                                position: (i + 1)
                            }
                            newPositionList.push(temp);
                        }
                        console.log(newPositionList);
                        changePosition(JSON.stringify(newPositionList));
                    }
                });
            })
        });
        function changePosition(position) {
            $.ajax({
                url: "@Url.Action("changetaskposition","api")",
                type: "POST",
                data: { position : position },
                dataType: "json",
                success: function (response) {
                    console.log(response);
                    if (response.status != 200) {
                        showToastr("error", "Error!!", "toast-bottom-left")
                        console.error(response)
                    }
                }
            });
        }
    </script>
}
