@model ProcessManagement.Models.Step
@{
    ViewBag.Title = "ShowStep";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var files = ViewData["Files"] as List<ProcessManagement.Models.FileManager>;
    var userRole = ViewData["UserRoles"] as ProcessManagement.Models.Participate;
}

<div class="block-header">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <a href="javascript:void(0);" class="btn btn-xs btn-link primary-theme btn-toggle-fullwidth primary-theme">
                <i class="fa fa-arrow-left"></i>
            </a>
            <ul class="breadcrumb">
                <li><a href="@Url.RouteUrl("GroupLocalizedDefault", new { controller = "group", action = "index"})"><i class="icon-home"></i></a></li>
                <li><a href="@Url.RouteUrl("GroupControlLocalizedDefault", new { controller = "group", action = "show", groupid = Model.Process.IdGroup })">Group: @Model.Process.Group.Name</a></li>
                <li><a href="javascript:void(0);">Process: @Model.Process.Name</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row clearfix display-flex">
    <div class="col-lg-8 col-md-12">
        <div class="card" style="height: 100%;">
            <div class="body">
                <h5>@Model.Name</h5>
                <p>@Model.Description</p>
                <div>
                    <button class="btn btn-primary-theme waves-effect">Add Task</button>
                    <button class="btn btn-default waves-effect">Add Role</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-12">
        <div class="card">
            <div class="body">
                <h5>File Upload</h5>
                @Html.Partial("~/Views/Shared/Common/_File.cshtml", new ViewDataDictionary { { "filess", files }, { "UserRoles", userRole } })
            </div>
        </div>
    </div>
    <div class="col-lg-8 col-md-12">
        <div class="card" style="height: 100%;">
            <h5>Task List</h5>
            <div class="body">
                <table></table>
            </div>
        </div>
    </div>
</div>