@using ProcessManagement.Models;
@model List<ProcessManagement.Models.Step>

@{
    PMSEntities db = new PMSEntities();
    ViewBag.Title = "ShowStep";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var group = ViewData["group"] as ProcessManagement.Models.Group;
    var process = ViewData["process"] as ProcessManagement.Models.Process;
    var statistic = ViewData["statistic"] as dynamic;
    var listRole = ViewData["listRole"] as List<ProcessManagement.Models.Role>;
}


@section CustomCss{
    <link rel="stylesheet" href="~/Content/vendor/sortable/st/prettify/prettify.css" />
}
<div class="block-header">
    <div class="row">
        <div class="col-lg-6 col-md-8 col-sm-12">
            <h2>
                <a href="javascript:void(0);" class="btn btn-xs btn-link primary-theme btn-toggle-fullwidth">
                    <i class="fa fa-arrow-left"></i>
                </a> @process.Name
            </h2>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="~/Home/Index" class="primary-theme"><i class="icon-home"></i></a></li>
                <li class="breadcrumb-item"><a href="/" class="primary-theme">Groups</a></li>
                <li class="breadcrumb-item"><a href="@Url.RouteUrl("GroupControlLocalizedDefault", new { controller = "group", action = "Show", groupid = group.Id })" class="primary-theme">@group.Name</a></li>
                <li class="breadcrumb-item"><a href="" class="primary-theme">@process.Name</a></li>
            </ul>
        </div>
        <div class="col-lg-6 col-md-4 col-sm-12 text-right">
            <div class="bh_chart hidden-xs">
                <div class="float-left m-r-15">
                    <small>Visitors</small>
                    <h6 class="mb-0 mt-1"><i class="icon-user"></i> 1,784</h6>
                </div>
                <span class="bh_visitors float-right">2,5,1,8,3,6,7,5</span>
            </div>
            <div class="bh_chart hidden-sm">
                <div class="float-left m-r-15">
                    <small>Visits</small>
                    <h6 class="mb-0 mt-1"><i class="icon-globe"></i> 325</h6>
                </div>
                <span class="bh_visits float-right">10,8,9,3,5,8,5</span>
            </div>
            <div class="bh_chart hidden-sm">
                <div class="float-left m-r-15">
                    <small>Chats</small>
                    <h6 class="mb-0 mt-1"><i class="icon-bubbles"></i> 13</h6>
                </div>
                <span class="bh_chats float-right">1,8,5,6,2,4,3,2</span>
            </div>
        </div>
    </div>
</div>

<div class="row clearfix">
    <div class="col-lg-4 col-md-12">
        <div class="card">
            <div class="body">
                <h5>@process.Name</h5>
                <p>@process.Description</p>
                <div class="progress-container progress-info m-b-25 clearfix" style="margin: 0">
                    <a href="@Url.RouteUrl("GroupControlLocalizedDefault",new { controller = "process", action = "EditProcess", processid = process.Id })" style="float: right" class="btn btn-success btn-sm">Edit Process</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="body">
                <ul class=" list-unstyled basic-list">
                    <li>Create At:<span class="badge badge-primary">@process.Created_At</span></li>
                    <li>Update_at:<span class="badge badge-info">@process.Updated_At</span></li>
                    <li>Total Step:<span class="badge badge-danger">@statistic.totalstep steps</span></li>
                    <li>Total Role:<span class="badge badge-warning">@statistic.totalrole roles</span></li>
                </ul>
            </div>
        </div>
        <div class="card">
            <div class="header">
                <span>
                    RoleList
                    <a style="float: right" class="btn btn-sm btn-outline-success" href="@Url.RouteUrl("GroupControlLocalizedDefault", new { controller = "process", action = "createrole", groupslug = group.groupSlug, groupid = group.Id, processid = process.Id })">
                        <img src="~/Content/images/icons-plus.png" />
                    </a>
                </span>
            </div>
            <div class="body">
                <div class="w_user">
                    <img class="rounded-circle" src="~/Content/images/sm/avatar4.jpg" alt="">
                    <div class="wid-u-info">
                        <h5>Fidel Tonn</h5>
                        <span>info@thememakker.com</span>
                        <p class="text-muted m-b-0">Project Lead</p>
                    </div>
                    <hr>
                </div>
                <ul class="right_chat list-unstyled mb-0">
                    @foreach (var role in listRole)
                    {
                        <li class="online">
                            <div class="media">
                                <img class="media-object " src="~/Content/images/xs/avatar4.jpg" alt="">
                                <div class="media-body">
                                    <span class="name">
                                        @role.Name
                                        <span style="float :right">
                                            <a class="btn btn-sm btn-outline-success" style=" margin-left: 10px" href="@Url.RouteUrl("GroupControlLocalizedDefault", new {controller = "process", action = "EditRole", roleid = role.Id})">
                                                <i class="icon-pencil"></i>
                                            </a>
                                            <a class="btn btn-sm btn-outline-danger js-sweetalert" title="Delete" style="margin-left: 10px" href="@Url.RouteUrl("GroupControlLocalizedDefault", new {controller = "process", action = "DeleteRole", roleid = role.Id})">
                                                <i class="icon-trash"></i>
                                            </a>
                                        </span>
                                    </span>
                                    <span class="message">
                                        @role.Description
                                    </span>
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
        <div class="card">
            <div class="header">
                <h2>Create by </h2>
            </div>
            <div class="body text-center">
                <div class="profile-image m-b-15"> <img src="~/Content/images/user.png" class="rounded-circle" alt=""> </div>
                <div>
                    <h4 class="m-b-0"><strong>@process.AspNetUser.UserName</strong></h4>
                </div>
                <div class="m-t-15">
                    <button class="btn btn-primary">Profile</button>
                    <button class="btn btn-outline-secondary">Message</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-8 col-md-12">
        <div class="card">
            <div class="header">
                <h2>Project Activity</h2>
            </div>
            <div class="body">
                <img src="@process.Avatar" />
            </div>
        </div>
        <div class="card">
            <div class="header">
                <h2>List Step</h2>
            </div>
            <div class="body">
                <ul class="step-list">
                    @foreach (var step in Model)
                    {
                        List<TaskProcess> taskList = db.TaskProcesses.Where(x => x.IdStep == step.Id).OrderBy(x => x.Position).ToList();
                        <li>
                            <div class="step @if (taskList.Any()) { WriteLiteral("step-has-task"); }" style="border: 2px solid @step.Color; border-left:7px solid @step.Color; color:@step.Color">
                                <div class="step-name">
                                    <span data-toggle="tooltip" data-placement="top" title="@step.Description">@step.Name (@taskList.Count)</span>
                                </div>
                                <div class="step-action dropdown">
                                    <a style="color: @step.Color" href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"></a>
                                    <ul class="dropdown-menu notifications animated fadeIn">
                                        <li><a href="@Url.RouteUrl("GroupControlLocalizedDefault", new { controller = "process", action = "editstep", groupslug = group.groupSlug, groupid = group.Id, stepid = step.Id })">Edit step</a></li>
                                        <li><a href="@Url.RouteUrl("GroupControlLocalizedDefault", new { controller = "process", action = "addtask", stepid = step.Id })">Add task</a></li>
                                        <li><a href="@Url.RouteUrl("GroupControlLocalizedDefault", new { controller = "process", action = "addformtask", stepid = step.Id })">Add form task</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="task">
                                <ul class="task-list" id="task-of-step-@step.Id">
                                    @foreach (var task in taskList)
                                    {
                                    <li class="task-item" style="background-color:@task.Color" data-id="@task.Id">
                                        @if (task.ValueFormJson == null)
                                        {
                                            <a href="@Url.RouteUrl("GroupControlLocalizedDefault", new { controller = "process", action = "showtask", taskid = task.Id })">@task.Name</a>
                                        }
                                        else
                                        {
                                            <a href="@Url.RouteUrl("GroupControlLocalizedDefault", new { controller = "process", action = "showformtask", taskid = task.Id })">@task.Name</a>
                                        }

                                        <i class="fa fa-arrows-alt handle"></i>
                                    </li>
                                    }
                                </ul>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
@section CustomScripts{
    <script src="~/Content/vendor/sortable/sortable.min.js"></script>
    <script src="~/Content/vendor/sortable/st/prettify/prettify.js"></script>
    <script src="~/Content/vendor/sortable/st/prettify/run_prettify.js"></script>
    <script>
        $(function () {
            $(".step-has-task .step-name").on("click", function () {
                var step = $(this).parent(".step");
                var task = step.next();
                task.toggle("slow");
            });
            var showStep = localStorage.getItem("showStep");
            if (showStep) {
                localStorage.removeItem("showStep");
                $(`#task-of-step-${showStep}`).parents(".task").show("slow");
            }
            var task = $(".task-list");
            task.each(function () {
                var element = $(this)[0];
                Sortable.create(element, {
                    handle: '.handle', // handle's class
                    animation: 150,
                    dataIdAttr: 'data-id',
                    onUpdate: function (evt) {
                        ////get item
                        //var fromItem = evt.item;
                        //var toItem = evt.item.previousElementSibling;
                        ////get id
                        //var fromId = fromItem.attributes["data-id"].value;
                        //var toId = toItem.attributes["data-id"].value;
                        //var position = {
                        //    from: fromId,
                        //    to: toId
                        //}
                        //position = JSON.stringify(position);
                        //changePosition(position);





                        //var formList = evt.from.children;
                        //var formID = [];
                        //for (var task of formList) {
                        //    formID.push(task.dataset.id);
                        //}
                        //var toList = evt.to.children;
                        //var toID = [];
                        //for (var task of toList) {
                        //    toID.push(task.dataset.id);
                        //}
                        //console.log(evt.from, evt.to);

                        var newTaskOrder = evt.from.children;
                        var newPositionList = [];
                        for (var i = 0; i < newTaskOrder.length; i++) {
                            var temp = {
                                idTask : newTaskOrder[i].dataset.id,
                                position: (i + 1)
                            }
                            newPositionList.push(temp);
                        }
                        console.log(newPositionList);
                        changePosition(JSON.stringify(newPositionList));
                    }
                });
            })
        });
        function changePosition(position) {
            $.ajax({
                url: "@Url.Action("changetaskposition","process",new { area = "api"})",
                type: "POST",
                data: { position : position },
                dataType: "json",
                success: function (response) {
                    console.log(response);
                    if (response.status != 200) {
                        showToastr("error", "Error!!", "toast-bottom-left")
                        console.error(response)
                    }
                }
            });
        }
    </script>
}
