@using ProcessManagement.Models;
@model List<ProcessManagement.Models.Step>

@{
    PMSEntities db = new PMSEntities();
    ViewBag.Title = "ShowStep";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var group = ViewData["group"] as ProcessManagement.Models.Group;
    var process = ViewData["process"] as ProcessManagement.Models.Process;
}


@section CustomCss{
    <style>
        .highlight {
            background-color: #f8f9fa;
            padding: 20px;
        }

            .highlight pre code {
                font-size: inherit;
                color: #212529;
            }

        .nt {
            color: #2f6f9f;
        }

        .na {
            color: #4f9fcf;
        }

        .s {
            color: #d44950;
        }

        pre.prettyprint {
            background-color: #eee;
            border: 0px;
            margin: 0;
            padding: 20px;
            text-align: left;
        }

        .atv,
        .str {
            color: #05AE0E;
        }

        .tag,
        .pln,
        .kwd {
            color: #3472F7;
        }

        .atn {
            color: #2C93FF;
        }

        .pln {
            color: #333;
        }

        .com {
            color: #999;
        }
    </style>
}
<div class="block-header">
    <div class="row">
        <div class="col-lg-6 col-md-8 col-sm-12">
            <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i class="fa fa-arrow-left"></i></a> Project Details</h2>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="index-2.html"><i class="icon-home"></i></a></li>
                <li class="breadcrumb-item">Projects</li>
                <li class="breadcrumb-item active">Project Details</li>
            </ul>
        </div>
        <div class="col-lg-6 col-md-4 col-sm-12 text-right">
            <div class="bh_chart hidden-xs">
                <div class="float-left m-r-15">
                    <small>Visitors</small>
                    <h6 class="mb-0 mt-1"><i class="icon-user"></i> 1,784</h6>
                </div>
                <span class="bh_visitors float-right">2,5,1,8,3,6,7,5</span>
            </div>
            <div class="bh_chart hidden-sm">
                <div class="float-left m-r-15">
                    <small>Visits</small>
                    <h6 class="mb-0 mt-1"><i class="icon-globe"></i> 325</h6>
                </div>
                <span class="bh_visits float-right">10,8,9,3,5,8,5</span>
            </div>
            <div class="bh_chart hidden-sm">
                <div class="float-left m-r-15">
                    <small>Chats</small>
                    <h6 class="mb-0 mt-1"><i class="icon-bubbles"></i> 13</h6>
                </div>
                <span class="bh_chats float-right">1,8,5,6,2,4,3,2</span>
            </div>
        </div>
    </div>
</div>

<div class="row clearfix">
    <div class="col-lg-4 col-md-12">
        <div class="card">
            <div class="body">
                <h5>@process.Name</h5>
                <p>@process.Description</p>
                <div class="progress-container progress-info m-b-25">
                    <span class="progress-badge">Project Status</span>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 78%;">
                            <span class="progress-value">78%</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="body">
                <ul class=" list-unstyled basic-list">
                    <li>Create At:<span class="badge badge-primary">@process.Created_At</span></li>
                    <li>Update_at:<span class="badge-purple badge">@process.Updated_At</span></li>
                    <li>Total Step:<span class="badge-purple badge">8 steps</span></li>
                    <li>Total Role:<span class="badge-danger badge">4 roles</span></li>
                </ul>
            </div>
        </div>
        <div class="card">
            <div class="header">
                <h2>Role List</h2>
            </div>
            <div class="body">
                <div class="w_user">
                    <img class="rounded-circle" src="~/Content/images/sm/avatar4.jpg" alt="">
                    <div class="wid-u-info">
                        <h5>Fidel Tonn</h5>
                        <span>info@thememakker.com</span>
                        <p class="text-muted m-b-0">Project Lead</p>
                    </div>
                    <hr>
                </div>
                <ul class="right_chat list-unstyled mb-0">
                    <li class="online">
                        <a href="javascript:void(0);">
                            <div class="media">
                                <img class="media-object " src="~/Content/images/xs/avatar4.jpg" alt="">
                                <div class="media-body">
                                    <span class="name">Chris Fox</span>
                                    <span class="message">Sales Lead</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="online">
                        <a href="javascript:void(0);">
                            <div class="media">
                                <img class="media-object " src="~/Content/images/xs/avatar5.jpg" alt="">
                                <div class="media-body">
                                    <span class="name">Joge Lucky</span>
                                    <span class="message">Java Developer</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="offline">
                        <a href="javascript:void(0);">
                            <div class="media">
                                <img class="media-object " src="~/Content/images/xs/avatar2.jpg" alt="">
                                <div class="media-body">
                                    <span class="name">Isabella</span>
                                    <span class="message">UI UX Designer</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="offline">
                        <a href="javascript:void(0);">
                            <div class="media mb-0">
                                <img class="media-object " src="~/Content/images/xs/avatar1.jpg" alt="">
                                <div class="media-body">
                                    <span class="name">Folisise Chosielie</span>
                                    <span class="message">FrontEnd Developer</span>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="card">
            <div class="header">
                <h2>Create by </h2>
            </div>
            <div class="body text-center">
                <div class="profile-image m-b-15"> <img src="~/Content/images/user.png" class="rounded-circle" alt=""> </div>
                <div>
                    <h4 class="m-b-0"><strong>@process.AspNetUser.UserName</strong></h4>
                </div>
                <div class="m-t-15">
                    <button class="btn btn-primary">Profile</button>
                    <button class="btn btn-outline-secondary">Message</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-8 col-md-12">
        <div class="card">
            <div class="header">
                <h2>Project Activity</h2>
            </div>
            <div class="body">
                Để hình đại diện process ở đây

            </div>
        </div>
        <div class="card">
            <div class="header">
                <h2>List Step</h2>
            </div>
            <div class="body">
                <div class="dd dd4">
                    <ul class="step-list">
                        @foreach (var step in Model.Where(x => x.Figure == "Step"))
                        {
                            <li>
                                <div class="step">
                                    <div id="@step.Id" class="step-name" style="color: #17191c;">@step.Name</div>
                                    <div class="step-action dropdown">
                                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"></a>
                                        <ul class="dropdown-menu notifications animated fadeIn">
                                            <li><a href="@Url.RouteUrl("GroupControlLocalizedDefault", new { controller = "process", action = "editstep", groupslug = group.groupSlug, groupid = group.Id, stepid = step.Id })">Edit step</a></li>
                                            <li><a href="@Url.RouteUrl("GroupControlLocalizedDefault", new { controller = "process", action = "AddTaskProcess", stepid = step.Id })">Add task</a></li>
                                            @*<li><a href="javascript:void(0);">Something else</a></li>*@
                                        </ul>
                                    </div>
                                </div>
                                <ul class="task-list">
                                    @foreach (var listtask in db.TaskProcesses.Where(x => x.idStep == step.Id))
                                    {
                                        <a href="@Url.RouteUrl("GroupControlLocalizedDefault", new { controller = "process", action = "Showtask", idtask = listtask.id })"><li class="task" style="color: #17191c;">@listtask.Name</li></a>
                                    }
                                </ul>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
@section CustomScripts{
    <script>
        $(function () {
            $(".step-name").on("click", function () {
                var step = $(this).parent(".step");
                var task = step.next();
                task.toggle("slow");
            });
        });
    </script>
}
